body {
	font-style: verdana, "times new roman";
}

.row {
	margin-left: 20px;
	margin-bottom: 15px;
}

.title {
	background-color: #00008B;
	
}

.cC {
	color: #FFFFFF;
	padding: 20px;
}

.instructions {
	background-color: #ffff00;
	font-size: 16px;
}

.target {
	background-color: green;
	height:90px;
	vertical-align: center;
	font-size: 30px;
	font-weight: bold;
	padding: 20px;
}

.outcome {
	background-color: red;
	height: 90px;
	padding-top: 5px;
}

.reportOut1 {
	background-color: orange;
	margin-left: -15px;
}

.reportOut2 {
	background-color: blue;
	height: 90px;
	margin-left: -15px;
}
.att {
	width: 100px;
	height: 100px;
}

.pO1 {
	padding: 10px 0px 5px 15px;
	font-size: 18px;
	font-weight: bold;
}

.pO2 {
	padding: 10px 0px 5px 15px;
	font-size:40px;
	font-weight: bold;
}