body {
	font-style: verdana, "times new roman";
	background-image: url("../images/background5.jpg");
}

.row {
	margin-left: 20px;
	margin-bottom: 15px;
}

.title {
	background-color: #0000B3;
	
}

.cC {
	color: #FFFFFF;
	padding: 20px;
}

.instructions {
	background-color: #e4ba4e;
	font-size: 16px;
}

.target {
	background-color: #3399ff;
	height:100px;
	vertical-align: center;
	font-size: 40px;
	font-weight: bold;
	padding: 20px;
}

.outcome {
	background-color: #99ccff;
	height: 100px;
	padding-top: 5px;
}

.att {
	width: 100px;
	height: 100px;
}

.pO1 {
	background-color: #e67300;
	padding: 10px 0px 5px 15px;
	font-size: 18px;
	font-weight: bold;
	margin-left: -15px;
}

.pO2 {
	background-color: #e67300;
	padding: 10px 0px 10px 15px;
	font-size:40px;
	font-weight: bold;
	margin-left: -15px;
}